html,body,div, h1, h2, h3, p, img, section{
	margin:0;
	padding:0;
	border:0;
}

#sidebar{
	width: 30%;
	display: inline-block;
	float:left;
	height: 100%;
}

h1{
	font-family: 'ltc-bodoni-175';
	text-transform: uppercase;
	font-size: 5em;
	font-weight: 400;
	font-style: italic;
	padding-left: .2em;
}

a{
	color: #E8175D;
	text-decoration: none;
}

h2{
	font-family: 'futura-pt';
	text-transform: uppercase;
	
}

#right{
	width: 70%;
	display: inline-block;
	height: 100%;
}

#contact{
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
	font-family: 'futura-pt';
}

#contact a{
	text-decoration: none;
	color: #7cc81f;
	font-size: 1.3em;
}

#contact-title{
	font-size: 2em;
	font-family: 'ltc-bodoni-175';
}

.contact-line{
	display:block;
}

input{
	border: 2px solid;
	background-color: rgba(255,255,255,0);
	padding: .7em;
	font-size: 1.2em;
}

input[type=text]{
	width: 15em;
}

input[type=email]{
	width: 32em;
}
textarea{
	width: 32em;
	height: 8em;
	border: 2px solid;
	padding: .7em;
	font-size: 1.2em;
}
input[type=submit]{
	background-color: #E8175D;
	padding:.5em;
	width: 5em;
	color: white;
}

@media screen and (min-width: 800px) and (max-width: 1190px) {
}

@media screen and (max-width: 799px) {
}