html,body,div, h1{
	margin:0;
	padding:0;
	border:0;
}

header {
	background: url('Cloudscape.jpg') no-repeat;
	background-size: cover;
	height: 38em;
	width: 100%;
	margin:0;
	padding:0;
	border:0;
	display:block;
}

header h1{
	color: white;
	font-size: 5em;
	padding-left: 32%;
	padding-top: 2em;
	font-family: 'Codystar', cursive;
}
#team{
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #7cc81f;
	color: white;
	text-align: center;
	font-family: 'Josefin Slab';
}

#team h1{
	font-size:3.5em;
}

.member{
	width: 45%;
	display: inline-block;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 2em;
}

.member ul{
	list-style-type: none;
}

.member li{
	padding-bottom: 1em;
}

.member a{
	color: #a8e6ed;
	text-decoration:none;
}

.member img{
	width: 5em;
}

#contact{
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 10%;
	font-family: 'Josefin Slab';
	background: url('bottomlandscape.jpg') no-repeat;
	background-size: cover;
	height: 50em;
	width: 100%;
}

#contact-title{
	font-size: 2em;
}

.contact-line{
	display:block;
}

input{
	border: 2px solid #b6b6b6;
	background-color: rgba(255,255,255,0);
	font-size: 1.5em;
	font-family: 'Josefin Slab';
	border-radius: .3em;
	-moz-border-radius: .3em;
}

input[type=text]{
	padding-top: .7em;
	padding-bottom: .4em;
	padding-left: .5em;
	padding-right: .6em;
	width: 15.5em;
}

#firstname{
	padding-left:2em;
	width: 15em;
	background: url(person.png) no-repeat left center;
	background-position: .3em;
	padding-left: 2em;
}

input[type=email]{
	padding-top: .7em;
	padding-bottom: .4em;
	padding-left: 2em;
	padding-right: .5em;
	width: 32em;
	background: url(mailbox.png) no-repeat left center;
	background-position: .3em;
}
textarea{
	border: 2px solid #b6b6b6;
	background-color: rgba(255,255,255,.6);
	font-size: 1.5em;
	font-family: 'Josefin Slab';
	border-radius: .3em;
	-moz-border-radius: .3em;
	padding-top: .7em;
	padding-bottom: .4em;
	padding-left: 2em;
	padding-right: .5em;
	width: 32em;
	height: 8em;
	background: url(pencil.png) no-repeat left top;
	background-position: .3em;
}
input[type=submit]{
	background-color: #7cc81f;
	border-color: white;
	font-size: 1.5em;
	font-family: 'Josefin Slab';
	padding:.5em;
	width: 5em;
	color: white;
}